.categories {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.categories__title h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 1rem 0;
}

.categories__container {
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  min-height: 60dvh;
}

.categorie {
  min-height: 180px;
}

.categorie--2 {
  grid-row: span 2;
}

.categorie--1 {
  grid-row: span 1;
}

.categorie:nth-child(odd):last-child {
  grid-column: span 2;
}

.categorie__img {
  width: 100%;
  min-height: 100%;
  border-radius: 4px;
}

.categorie__img-container {
  padding: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  user-select: none;
}

.categorie__title h5 {
  font-weight: normal;
  color: #000;
  font-size: 1.4rem;
}

.categorie__subtitle {
  color: #ffd549;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categorie__subtitle-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.categorie-subtitle__underline {
  position: relative;
  height: 2px;
  border-radius: 16px;
  background-color: #000;
  top: -3px;
  width: 0%;
  transition: width 0.2s;
}

.categorie__subtitle:hover .categorie-subtitle__underline {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .categories__container {
    display: flex;
    flex-direction: column;
  }

  .categorie {
    min-height: auto;
  }

  .categorie__img {
    min-height: 180px;
  }
}
