:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #414141;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: #d4af37;
  --color-text: #b8b8b8;

  --color-title: #e0dede;
  --font-title: Montserrat;
}

::selection {
  background-color: #222;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Cambia el tamaño aquí */
}

::-webkit-scrollbar-track {
  background: #333131; /* Color del fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #484b5b; /* Color del "thumb" del scrollbar */
  border-radius: 10px; /* Redondea los bordes */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a7c89;
}

::-webkit-scrollbar-thumb:active {
  background-color: #7a7c89;
}

* {
  margin: 0;
  padding: 0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  body {
    display: none;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
