#secure-image-input {
  display: none;
}

.secure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 1rem 0;
}

.secure h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.secure__main-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.secure-info__wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #222;
  margin-top: 4px;
}

.secure-info__wrapper label {
  color: #ccc;
  margin-bottom: 0.25rem;
}

.secure-info__wrapper input,
.secure-info__wrapper textarea,
.secure-info__wrapper select {
  padding: 10px 12px;
  color: #fff;
}

.secure-info__wrapper input,
.secure-info__wrapper textarea,
.secure-info__wrapper select,
.secure-info__wrapper datalist,
.secure__price-container {
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
  background-color: #0000;
  box-shadow: none;
  transition: border 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.secure-info__wrapper input:is(:active, :focus),
.secure-info__wrapper textarea:is(:active, :focus),
.secure-info__wrapper select:is(:active, :focus) {
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 6px 0 #0009;
}

.secure-info__wrapper option {
  background-color: #222;
  color: #fff;
}

.secure-info__wrapper textarea {
  resize: none;
  min-height: 180px;
}

#secure-description-name {
  margin-bottom: 1.2rem;
}

.secure__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.secure__container h3 {
  font-size: 1.35rem;
}

/* LEFT CONTAINER */

/* RIGHT CONTAINER */
.info-wrapper__image {
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  grid-auto-rows: minmax(150px, 1fr);
}

.secure-subcategory__label {
  margin-top: 1.2rem;
}

.secure-info__upload-button {
  height: 100%;
  border: 1px dashed var(--color-accent);
  padding: 1.7rem 1.2rem;
  background-color: #333;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secure-image {
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.secure-image,
.secure-info__upload-button {
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.secure-image:hover,
.secure-info__upload-button:hover {
  box-shadow: 0 0 8px 0 #0009;
}

.secure-image button {
  background-color: rgb(11, 11, 97);
  padding: 4px 12px;
}

.secure-image button:last-child {
  background-color: rgb(148, 44, 44);
  padding: 4px 12px;
}

.secure-info__upload-button a {
  font-size: 0.7rem;
  color: var(--color-accent);
  margin-top: 0.25rem;
}

.secure-image__label {
  cursor: pointer;
}

.secure__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  width: 90%;
}

.secure-price__icon {
  display: flex;
  padding: 6px 0.5rem;
  background-color: #333;
  border-radius: 0.25rem;
}

.secure__price-container input {
  border: none !important;
  box-shadow: none !important;
  flex: 1;
  width: 100%;
}

.secure-info--price {
  display: flex;
  flex-direction: row;
}

.gap-4 {
  gap: 4px;
}

.secure-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.secure-popup__img {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.secure-popup__close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 1rem;
  right: 0;
  margin: 0.5rem 4rem 0 0;
}

.secure__product-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.secure__product-buttons button {
  padding: 8px 24px;
  opacity: 1;
  box-shadow: none;
  transition: opacity 0.2s, box-shadow 0.2s;
}

.secure__product-buttons button:last-child {
  background-color: var(--color-accent);
}

.secure__product-buttons button:hover {
  opacity: 0.95;
  box-shadow: 0 0 8px 0 #0009;
}

.secure-alert__product-added {
  background-color: #111;
  color: white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: transform 0.6s;
}

.product-added--appear {
  transform: translateY(-50%);
}

.product-added--disappear {
  transform: translateY(150%);
}

.secure-input__empty {
  border-color: rgb(200, 24, 24) !important;
}

.secure-input__completed {
  border-color: var(--color-accent) !important;
}

.secure-wrapper--percentage {
  display: flex;
}

.secure-percentage__button {
  display: flex;
  height: fit-content;
  padding: 10px;
  background-color: var(--color-accent);
  align-self: end;
}

.secure__percentage--container {
  margin-bottom: 0 !important;
}

.secure-wrapper--discount {
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .secure {
    width: 90%;
  }

  .secure__main-wrapper {
    flex-direction: column;
  }

  .secure-wrapper--percentage label:first-child {
    display: flex;
    width: 100%;
  }

  .info-wrapper__image {
    grid-auto-rows: minmax(130px, 1fr);
  }
}
