.header {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  transform: translateY(0%);
  transition: transform 0.6s;
  user-select: none;
}

.header--hidden {
  transform: translateY(-100%);
}
